
.table-container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
    padding: 10px;
    box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #fff;
    border-radius: 8px;
}

.cell{
    padding: 10px;
    text-align: center;
}

.tr{
    border-bottom: 1px solid #d1d9e6;
}

.profile-card{
    width: 90%;
    max-width: 98rem;
    padding: 5rem;
    margin-left: 8rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.profile-img{
    min-width: 25rem;
    max-width: 25rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.profile-skills span{
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: 1rem;
    font-weight: 200;
}

.profile-name{
    font-size: 2rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.profile-abstract{
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, .7);
}

/* 2221mb */
@media screen and (max-width: 1068px){
    .profile-card{
        width: 100%;
        max-width: 80rem;
        margin: 0rem;
    }

    .profile-img{
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media screen and (max-width: 868px){
    .profile-card{
        width: 100%;
        max-width: 70rem;
        margin: 0rem;
    }
}
#mq1{
    background: url(../Images/heart_disease.jpg);
    background-size: cover;
}
#mq2{
    background: url(../images/hero-10.jpg);
    background-size: cover;
}
@media screen and (max-width: 868px){
    .profile-card{
        padding: 2.5rem;
        flex-direction: column;
    }

    .profile-img{
        min-width: 100%;
        max-width: 30rem;
        max-height: 20rem;
        transform: translate(0,-8rem);
    }

}
@media screen and (max-width: 868px){

    #mq1{
        background:url(../images/mob-hero.jpg);
        background-size: cover;
        background-position-x: right;
    }
    #mq2{
        background: url(../images/hero_mob1.jpg);
        background-size: cover;
    }
}




.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
    font-size: 24px;
    color: black;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.blue .progress-bar{
    border-color: #049dff;
}
.progress.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar{
    border-color: #ed687c;
}
.progress.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar{
    border-color: #1abc9c;
}
.progress.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

.travel-card{
    
    display:grid;
    grid-template-columns:auto;
    grid-template-rows: autoc;
    grid-template-areas: "image" "text" "stats";
    font-family: Roboto;
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .9);
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.travel-card-image{
    height: 280px;
    grid-area: image;
    background: url(../Images/heart_disease.jpg);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;

}

.travel-card-text{
    grid-area: text;
    padding: 2rem;
    color: rgba(0, 0, 0, .5);
}

.travel-card-status{
    grid-area: status;
}

.travel-card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}
.travel-card-image.card2{
    background: url(../Images/brain-tumor.jpg);
    background-size: cover;
}
.travel-card-image.card3{
    background: url(../Images/malaria.jpg);
    background-size: cover;
}
.travel-card-image.card4{
    background: url(../Images/heart_disease.jpg);
    background-size: cover;
}
.travel-card-image.card5{
    background: url(../Images/pneu.jpg);
    background-size: cover;
}
.travel-card-image.card6{
    background: url(../Images/skin_c.jpg);
    background-size: cover;
}

.neu{
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, .2);
}